@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <form asp-action = "GetWeatherFromCity" asp-controller="Home" method="post" >
        <div class="form-control">
            <input type="text" name="City" value="Город" />
            <input type="submit" />
        </div>
    </form>
</body>